.container{
    height: 300px;
    width: 600px;
    background-color: aquamarine;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 12px;
   align-content: center;

   flex-direction: column;
  
}
.divison{
    height: 50px;
    width: 50px;
    background-color: red;
    border: 2px solid black;
   
    
}